body {
    font-family: 'Crimson text', sans-serif;
    background-color: #dfdfdf;
    color: #000;
    position: relative;
    max-width: 100%;
}

/*@media*/
/*only screen and (-webkit-min-device-pixel-ratio: 0.7),*/
/*only screen and (-o-min-device-pixel-ratio: 13/10),*/
/*only screen and (min-resolution: 120dpi) {*/
/*!* style here *!*/
/*}*/

p {
    font-size: 14px;
}

@font-face {
    font-family: "brandon-grotesque";
    font-style: normal;
    font-weight: 300;
    src: url("https://use.typekit.net/af/e1acce/0000000000000000000132dd/27/l?subset_id=2&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/e1acce/0000000000000000000132dd/27/d?subset_id=2&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/e1acce/0000000000000000000132dd/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
}

@font-face {
    font-family: "brandon-grotesque";
    font-style: normal;
    font-weight: 400;
    src: url("https://use.typekit.net/af/73776a/0000000000000000000132df/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/73776a/0000000000000000000132df/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/73776a/0000000000000000000132df/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
}

@font-face {
    font-family: "brandon-grotesque";
    font-style: normal;
    font-weight: 500;
    src: url("https://use.typekit.net/af/32b4b2/0000000000000000000132e1/27/l?subset_id=2&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/32b4b2/0000000000000000000132e1/27/d?subset_id=2&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/32b4b2/0000000000000000000132e1/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
}

@font-face {
    font-family: "brandon-grotesque";
    font-style: normal;
    font-weight: 700;
    src: url("https://use.typekit.net/af/0abd16/0000000000000000000132e3/27/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/0abd16/0000000000000000000132e3/27/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/0abd16/0000000000000000000132e3/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
}

/*generic css*/

.header {
    width: 80%;
    position: fixed;
    padding-top: 20px;
    height: auto;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

}

.header .over-lay {
    position: relative;
    width: 100%;
}

.header .big-logo a {
    color: #000;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

.header .big-logo a #logo-text {
    display: inline-block;
}

.header .big-logo a #name {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
}

.header .big-logo a span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.header .big-logo a sup {
    font-family: "Roboto Mono Light", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.header .big-logo img {
    width: 80px;
    height: 80px;
}

.header #menu {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header .search-box, .header .order-box {
    position: absolute;
    font-size: 25px;
    color: #ababab;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;

}

.header .search-box {
    right: 50px;
    width: 400px;
    height: 35px;
}

.header .search-box form {
    position: absolute;
    width: 80%;
    right: 30px;
}

.header .search-box #adv-search {
    display: flex;

}

.header .search-box #search_text {
    background: #d5d5d5;
    border: 0 none;
    width: 100%;
    font: 13px "brandon-grotesque", sans-serif;
    font-weight: 400;
    color: #777;
    padding: 6px 12px 5px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.7s ease 0s;
}

.header .search-box #search_text:focus {
    outline: none;
}

.header .search-box #btn-not-show {
    display: none;
}

.header .search-box i {
    padding-top: 3px;
    font-size: 25px;
    color: #ababab;
    position: absolute;
    right: 0;
}

.header .search-box .active {
    animation: movetoleft 1s forwards;
}

@keyframes movetoleft {
    30% {
        right: 50px;
    }
    50% {
        right: 100px;
    }
    80% {
        right: 345px;
        z-index: -1
    }
    100% {
        right: 320px;
        z-index: 1;
        font-size: 18px;
        padding-top: 5px
    }
}

/*cart order box*/

.header .order-box {
    right: 0;
    margin-top: -2px;
}

.header .cart {
    position: absolute;
    width: 300px;
    min-height: 70px;
    max-height: 1000px;
    background-color: #e2e1e0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translateX(50%);
    right: 50px;
    top: 60px;
    border-radius: 5px;
    display: none;
}

.header .cart .card{
    width: 95%;
    height: 70px;
    background-color: #FEFEFE;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    padding: 5px;
}
.header .cart .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header .cart .card .thumbnail-img {
    width: 35%;
    height: 100%;
    float: left;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .cart .card .info {
    float: left;
    display: block; /* or inline-block */
    max-width: 50%;
    padding-left: 5px;
}
.header .cart .card .info p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.4em;
    line-height: 1.2em;
    margin: 0 0 3px 0;
}
.header .cart .card .info .name {
    height: 2.4em;
    font-weight: 400;
}
.header .cart .card .info .price {
    color:#E74C3C;
}
.header .cart .card .info .quantity {
    color:#8a8a8a ;
}
.header .cart .card .delete-btn {
    display: block;
    float: right;
    font-size: 16px;
    height: 100%
}

.header .cart .pay svg{
    width: 32px;
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in;
}
.header .cart .pay svg .cls-2 {
    fill: #B7B4B6;
}
.header .cart .pay svg:hover .cls-2 {
    fill: #2C3E50;
}

.header .cart #nothing {
    display: block;
    text-align: center;
    margin-top: 25px ;
    color: #8a8a8a;


}
/*introduce*/
.introduce {
    position: fixed;
    width: auto;
    text-align: center;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -100;
}

.introduce h3 {
    font-size: 100px;
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
    background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow: -44px 53px 43px rgba(65,65,65,0.72);*/
    animation: changecolor 9s infinite alternate ease-out;
    transition: 2s;
}

@keyframes changecolor {
    25% {
        background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
        opacity: 0.5;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*text-shadow: -44px 53px 43px rgba(65,65,65,0.42);*/
    }
    40% {
        background: whitesmoke;
        opacity: 0.7;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /*text-shadow: -44px 53px 43px rgba(65,65,65,0.42);*/
    }
    100% {
        background: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);

    }
    /*100%{*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*}*/

}

.introduce #shadow-awesome {
    position: absolute;
    top: 0;
    opacity: 0.7;
    z-index: -1;
    font-size: 100px;
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(231, 76, 60, 1.0);
    animation: changeshadow 9s infinite alternate ease-out;
    transition: 2s;

}

@keyframes changeshadow {
    40% {
    rgba(231, 76, 60, 0.7)
    }

    100% {
        color: whitesmoke;
        text-shadow: -25px 23px 38px rgba(65, 65, 65, 0.62);
    }

}

.introduce h1 {
    position: absolute;
    left: 50%;
    top: 100px;
    text-overflow: clip;
    white-space: nowrap;

    /*letter-spacing: 0.3px;*/
    /*word-spacing: -1px;*/
    transform: translateX(-50%);
    font-size: 30px;
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8a8a8a;
    letter-spacing: .1em;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
}

/*slideshow*/
.slideshow {
    /*display: none;*/
    position: fixed;
    top: 54%;
    z-index: -100;
    width: 100%;
}

.glide .glide__track {
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.glide .glide__slide {
    text-align: center;
    cursor: all-scroll;
}

.glide img {
    width: 72%;
    height: 506px;
    cursor: hand;
    border-radius: 15px;
    box-shadow: -44px 53px 43px rgba(65, 65, 65, 0.42);
    border: 0;
}

/*item */
.section .item {
    width: 15%;
    height: 250px;
    display: block;
    float: left;
    padding: 15px 10px;
    position: relative;
}

.section .item .item-over-lay {
    width: 100%;
    height: 100%;
    /*box-shadow: 0 0 33px rgba(65,65,65,0.62);*/
    position: relative;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 9px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.section .item .down {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, rgba(116,116,191,0.71) 0%, rgba(116,116,191,0.71) 20%, rgba(115,117,191,0.71) 21%, rgba(67,138,199,0.69) 57%, rgba(67,138,199,0) 88%);*/
    background-color: rgb(44, 44, 44);
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.35s;
    z-index: 0;
}

.section .item .product_image {
    height: 78%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

.section .item .info_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-left: 10px;
    z-index: 1;

}

.section .item .info_container p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.section .item .info_container .product_price {
    position: absolute;
    bottom: 7px;
    color: #e74c3c;
    font-size: 16px;
    font-weight: 400;
}

.section .item .info_container p.product_name {
    position: absolute;
    bottom: 30px;
    transition: all 0.4s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
    font-size: 20px;
    font-weight: 600;
}

.section .item .info_container p.product_manufacturer {
    position: absolute;
    top: 100%;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.4em;
    line-height: 1.2em;
    max-width: 90%;
    font-size: 18px;
    font-weight: 400;
    color: white !important;

}

.section .item .info_container p.product_description {
    position: absolute;
    top: 100%;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.4em;
    line-height: 1.8em;
    max-width: 90%;
    font-size: 18px;
    font-weight: 400;
    color: white !important;
    transition-delay: 0.15s;

}

/*.content .item .info_container p.product_name,p.product_manufacturer,p.product_description{*/
/*font-size: 18px;*/
/*font-family: brandon-grotesque,sans-serif;*/
/*font-weight: 500;*/
/*}*/

.section .item .info_container p.product_manufacturer, p.product_description {
    opacity: 0;
    transition: all 0.5s;
}

.section .item .item-over-lay:hover .product_image {
    opacity: 0.2;
}

.section .item .item-over-lay:hover p.product_name {
    bottom: 85%;
    color: white;
}

.section .item .item-over-lay:hover .product_price {
    opacity: 0;
}

.section .item .item-over-lay:hover .down {
    transform: translateY(0);
    opacity: 0.5;

}

.section .item .item-over-lay:hover p.product_name {
    transform: translateY(0);
}

.section .item .item-over-lay:hover p.product_manufacturer {
    top: 20%;
    opacity: 0.8;
}

.section .item .item-over-lay:hover p.product_description {
    top: 35%;
    opacity: 0.8;
}

.section .item .btn-options {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color: whitesmoke;
    padding: 7px;
    transform: translateY(100%);
    transition: 0.4s;
    z-index: 1;
}

.section .item .btn-options p {
    margin: 0;
    float: left;
    display: inline-block;
    color: rgba(231, 76, 60, 1.0);
    font-size: 18px;
    transform: translateY(200%);
    transition: 0.35s;
}

.section .item .btn-options i {
    font-size: 22px;
    color: rgba(189, 195, 199, 1.0);
    float: right;
    display: inline-block;
    padding-right: 10px;
    transform: translateY(200%);
    transition: 0.4s;
}

.section .item .btn-options i:hover,
.section .item .btn-options i:focus {
    color: rgba(231, 76, 60, 1.0);
}

.section .item .btn-options i:nth-child(1) {
    transition-delay: 0.175s;
}

.section .item .btn-options i:nth-child(2) {
    transition-delay: 0.2s;
}

.section .item .item-over-lay:hover .btn-options {
    transform: translateY(0);
}

.section .item .item-over-lay:hover .btn-options p {
    transform: translateY(0);
}

.section .item .item-over-lay:hover .btn-options i {
    transform: translateY(0);
}

/*best-selling content*/
.main_content {
    position: relative;
    top: 100vh;
}
.section {
    width: 100%;
    height: 120vh;
}

.section .container {

    width: 85%;

}
.section.best-sell .over-lay {
    background-image: linear-gradient(135deg, rgb(222, 73, 109) 0%, rgb(171, 73, 222) 100%);
    height: 110vh;
    clear: both;
}

.section.best-sell .item .item-over-lay {
    background-color: #fff;
}

.section.best-sell .item .info_container p {
    color: #333;
}

.section.best-sell .item .info_container .product_price {
    color: #c10017;
}

.section.new .over-lay {
    background-image: linear-gradient(135deg, rgb(171, 73, 222) 0%, rgb(73, 84, 222) 100%);
    height: 110vh;
    clear: both;
}

.section.hot .over-lay {
    background-color: #f5f5f5;
    height: auto;
    clear: both;
}

/* product modal */
.prod_modal {
    font-family: Helvetica, Arial, sans-serif;
}

.prod_modal .big-logo a {
    color: #000;
    font-size: 16px;
}

.prod_modal .big-logo a h3 {
    margin-top: 0;
}

.prod_modal .big-logo a #name {
    font-size: 40px;
    font-weight: 700;
}

.prod_modal .big-logo a span {
    font-weight: 200;
}

.prod_modal .big-logo a sup {
    font-weight: 100;
    text-transform: uppercase;
}

.prod_modal .big-logo img {
    width: 70px;
}

.product_modal .product_container {
    overflow: hidden;
}

.product_modal .product_container .image_container {
    box-sizing: border-box;
    border-right: 1px solid #e3e3e3;
    float: left;
    margin: 0;
    width: 50%;
}

.product_modal .product_container .image_container img {
    width: 95%;
}

.product_modal .product_container .product_info {
    padding: 0px 20px 10px;
    border-right: none;
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin: 0;
}

.product_modal .product_container .product_info h1 {
    margin-top: 0;
    text-transform: uppercase;
    color: rgb(123, 123, 123);
}

.product_modal .product_container .product_info .prod_brand * {
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 17px;
}

.product_modal .product_container .product_info .prod_inventory * {
    color: gray;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 17px;
}

.product_modal .product_container .product_info .prod_quantity * {
    font-size: 17px;
}

.product_modal .product_container .product_info .prod_quantity .input_qty {
    border: 1px solid #ddd;
    width: 100px;
    font-size: 20px;
}

.product_modal .product_container .product_info .prod_price * {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #d21f30;
    font-weight: 700;
}

.product_modal .product_container .product_info .quick_buy_container {
    width: 100%;
}

.product_modal .product_container .product_info .quick_buy_container .quick_buy_button, .product_modal .product_container .product_info .quick_buy_container .add_to_card_details {
    width: 100%;
    border: 1px solid #f37022;
    background-color: #f37022;
    transition: background-color .15s ease-in;
    padding-top: 10px;
    padding-bottom: 9px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.product_modal .product_container .product_info .quick_buy_container .add_to_card_details {
    background-color: #E3000E ;
}
.product_modal .product_container .product_info .quick_buy_container .quick_buy_button:hover, .product_modal .product_container .product_info .quick_buy_container .add_to_card_details:hover {
    background-color: rgb(255, 255, 255);
    color: #f37022;
}

.product_modal .prod_des p {
    font-size: 18px;
    padding: 0;
}

/* thanh xo tim kiem */
.ui-autocomplete {
    background: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    cursor: hand;
    border: 2px solid navy;

}

