.search {
    position: absolute;
    width: auto;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    right:40px;
}

.search-result {
    margin-top: 140px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}