.user-container{
	margin-top: 150px;
}

.user-menu{
	margin: 20px;
	padding: 12px;
	background-color: #EEE;
}

.user-card{
	background-color: #EEE;
	padding: 20px 40px;
	margin: 20px;
	height: 200px;
}

.user-card-content{
	display: block;
	float: left;
}

.user-card-edit{
	margin-top: 30px;
	display: block;
	float: right;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}